
body{
    color: green;
}
p, li, a{
    font-family: sans-serif;
}
a{
    color: green;
}
a:hover{
    color: red;
    background-color: #ccc;
}
a:active{
    color: orange;
}
ul li{
    list-style-type: upper-roman;
}
ol li{
    list-style-type: circle;
    list-style-position: inside;
}